.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.title{
    color: white;
}

.backgroundCity{
    background-image: url(/images/ciudad.jpg);
}

.backgroundCountryside{
    background-image: url(/images/pueblo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}