.body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/634/64/941/casino-dice-roulette-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}

.title {
  font-size: 5rem;
  color: white;
  margin-left: 20px;
  margin-top: -5px;
}
.subtitle{
  font-size: 2rem;
  color: white;
  margin-left: 10px;
}
.form{
  height: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.number{
  font-size: 2rem;
  background: #08ce22; 
  color: red;
  font-weight: bold; 
  padding: 10px;
  border: 2px solid #bdfae6; 
  border-radius: 10px
}
.testButton, .reset{
  font-size: 2rem;
  width: 100px;
  outline: none;
   background-color: transparent;
   border-radius: 5px;
   color: red;
   cursor: pointer;
}
.message, .attemptsNumber{
  background: #f7f5f5; 
  font-weight: bold; 
  padding: 15px; 
  border-top:2px solid #08ce22; 
  border-bottom:2px solid #08ce22; 
  border-radius: 5px;
  background-color: transparent;
  color: white;
}