.body{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/634/64/941/casino-dice-roulette-wallpaper-preview.jpg");
  backdrop-filter: blur(5px);
  
}

.title {
  font-size: 5rem;
  color: white;
  width: 5rem;
  margin-top: -5px;
  margin-left: 20px;
}
::placeholder {
  font-size: 0.5em;
  padding: 1rem;
  
}
.form{
  height: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.number{
  font-size: 2rem;
  background: #08ce22; 
  color: red;
  font-weight: bold; 
  padding: 5px;
  border: 2px solid #bdfae6; 
  border-radius: 10px
}
.testButton, .reset{
  font-size: 2rem;
  width: 100px;
  outline: none;
   background-color: transparent;
   border-radius: 5px;
   box-shadow: 0px 0px 11px 12px #04921c7a;
   color: white;
   cursor: pointer;
}
.message, .attemptsNumber{
  background: #f7f5f5; 
  font-weight: bold; 
  padding: 15px; 
  border-top:2px solid #08ce22; 
  border-bottom:2px solid #08ce22; 
  border-radius: 5px;
  background-color: transparent;
  color: white;
}